body {
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #fff;
  margin: 0;
  padding: 0;
}

a {
  color: #1db954;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #0d8050;
}

h1, h2 {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}