
.movie-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.movie-page h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.movie-page p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.movie-page video {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 1);
}

.movie-page h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.movie-page .comment {
  background-color: rgba(0, 0, 0, 0.87);
  padding: 3px;
  border-radius: 10px;
  margin: 10px 0 12px 0;
}

.movie-page .comment p {
  margin: 5px;
}

.movie-page input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.movie-page button {
  background-color: #1aaa4d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.movie-page button:hover {
  background-color: #16873d;
}